@charset "UTF-8";

.myPage_menu_aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
.myPage_menu_aside li a {
    display: block;
    color: #001;
    padding: 8px 16px;
    text-decoration: none;
}
.myPage_menu_aside h3.active {
    background-color: #5a7d59;
    color: white;
}
.myPage_menu_aside li a:hover:not(.active) {
    background-color: #5a7d59;
    color: white;
}

#container{
	display: flex;
}
.myPage_menu_aside {
	width: 200px;
	height: 600px;
	float: left;
	margin-top: 100px;
}

#mypage_order{
		display: inline-block;
    padding: 0;
    width: 800px;
    height: 500px;
    float: left;
    margin-left: 170px;
}

.order_img{
	width: 180px;
	height: 250px;
	float:left;
}

#itemInfo{
	width:220px;
	height: 174px;
	float:left;
	margin-left: 50px;
	margin-top: -50px;
}

#order_Info{
	width:700px;
	height:350px;
	margin-left: 30px;

}

#order_item{
	float:left;
	width:150px;
	margin-left: 100px;
	font-size: 19px;
    margin-top: -20px;
}

#item_review_btn{
	margin-bottom: 20px;
}
#shipping_ask_btn{
	margin-bottom: 20px;
}

.linkBtn{
	text-align: center;
	display: block;
	margin: 5px auto 0 auto;
	width: 200px;
	height: 45px;
	line-height: 45px;
	font-size:20px;
	font-weight: 500;
	color: #35363a;
	border: solid 1px #8D959C;
	background-color: #fff;
	
}

.linkBtn:hover{
	background-color: #5a7d59;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
#orderState{
	width: 200px;
	margin-left: 20px;
}

#memberList_table table,#memberList_table th,  #memberList_table td , #memberList_table tr{
	
	border: solid 1px #8D959C;
	margin: 0 auto;
	border-collapse: collapse;
	padding: 5px;
	width: 1050px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	
	
}
#memberList_table table{
	border: solid 1px #8D959C;
	margin: 0 auto;
	border-collapse: collapse;
	padding: 5px;
	width: 1050px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

 #memberList_table th {
	width:200px;
}

#memberList_table td {
	width: 216px;
}

#mypage_Btn{
	text-align: center;
	display: block;
	margin: 5px auto 0 auto;
	width: 300px;
	height: 45px;
	line-height: 45px;
	font-size:20px;
	font-weight: 500;
	color: #35363a;
	border: solid 1px #8D959C;
	background-color: #fff;
	margin-top: 30px;
}
#mypage_Btn:hover{
	background-color: #5a7d59;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

#deleteBtn{
	width: 100px;
	height:35px; 
	padding: 0px 19px;
	font-size: 15px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}

.list-view-width {
    width: 1450px;
    margin: 0 auto;
    overflow: hidden;
}

#list-container{
	display: flex;
}
#memberList{
	width: 1450px;
	margin: 0 auto;
}
/**no order list*/
#no-orderList-wrap{
	width: 1050px;
	margin: 0 auto;
}
#no-orderList{
	display: flex;
	
}
#noOrderList-title{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin: 0 auto;
}
#noOrderList-info{
	text-align: center;
	margin-top: 150px;
}
#noOrderList-info>span{
	line-height: 52px;
	font-size: 20px;
	vertical-align: middle;
}
#no-orderList-main{
	width: 970px;
}