/**
 * 아이디, 비밀번호 찾기 : 일반, 판매자
 * @author 임우진
 * 
 */
@charset "UTF-8";
 
/* 내용 div */
#contents_box {	
	margin: auto;
}
/* 찾기  */
#check_submit{
	width:290px;
	height:37px;  
	padding: 0px 19px;
	font-size: 13px;
	background-color: #7B977A;
	color: white;
	border: 1px solid #7B977A;
	cursor: pointer;
    margin-right: 23px;
}
/* 일반 아이디 */
#memberId{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 12px;
	border: 1px solid #7B977A;
}
/* 판매자 아이디 */
#sellerId{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 12px;
	border: 1px solid #7B977A;
}
/* 이름 */
#name{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 12px;
	border: 1px solid #7B977A;
}
/* 이메일 */
#email{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 12px;
	border: 1px solid #7B977A;
}
/* 인증번호 */
#mobileNum{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 12px;
	margin-bottom: 10px;
	border: 1px solid #7B977A;
}
/* 이메일 중복확인 버튼 */
#email_button{
	height:35px; 
	padding: 0px 19px;
	font-size: 12px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}
/* th */
#find-account-tbl>tr>th{
	text-align: right;
	margin-right: 10px;
}