@charset "UTF-8";

#contents_box {	
	margin: auto;
}
	
#contents_box > table {		
	/* font-size: 9px; */
}
	
#check_submit{
	width:100%;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	background-color: #7B977A;
	color: white;
	border: 1px solid #7B977A;
}

#memberId{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
#name{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
#email{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	margin-bottom: 10px;
	border: 1px solid #7B977A;
}
