/**
 * 회원가입 : 일반, 판매자
 * @author 임우진
 * 
 */
@charset "UTF-8";

/* 내용 div */ 
#contents_box {	
	margin: auto;
}
/* * 표시 텍스트 */
.star {
	color: #FF0000;
}
/* 일반회원가입 폼 : 사용안함*/
#nomal_inputForm{
	width: 315px;
	height: 60px; 
	padding: 0px 19px;
	font-size: 9px;
	background-color: #7B977A;
	color: white;
	margin-top: 15px;
	border: 1px solid #7B977A;
	cursor: pointer;
}
/* 일반 아이디 */
#memberId{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 일반 아이디 중복확인 */
#id_button{
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}
/* 일반 비밀번호 */
#memberPw{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 일반 비밀번호 확인 */
#pwChk{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 판매자 비밀번호 확인 */
#pwChkSeller{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 비밀번호 표시 */
#pwCheckbox{
	background: #7B977A;
}
/* 비밀번호 표시 아이콘 */
input[type=checkbox]{
	-webkit-appearance: none;
}
input[type=checkbox] + label{
    line-height: 37px;
    vertical-align: middle;
	background: url("/takeit/img/icon/eye2.png");
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100%;
}
input[type=checkbox]:checked + label{
	line-height: 37px;
    vertical-align: middle;
	background: url("/takeit/img/icon/eye.png");
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100%;
}
/* 이름 */
#name{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 이메일 */
#email{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 이메일 중복확인 */
#email_button{
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}
/* 휴대폰 */
#mobile{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	
}
/* 휴대폰 인증번호 input */
#mobileNum{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	
}
/* 휴대폰 인증번호 button */
#mobile_button{
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}
/* 우편번호 */
#postNo{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	
}
/* 우편번호 button */
#postNoBtn{
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}
/* 도로명주소 */
#address{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 상세주소 */
#addressDetail{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 생일 */
#brith{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 일반회원가입 */
#normalSubmit{
	width:50%;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	background-color: #7B977A;
	color: white;
	border: 1px solid #7B977A;
	margin-top: 10px;	
	cursor: pointer;
}

/* 판매자 회원가입  폼  : 사용안함 */
#seller_inputForm{
	width: 315px;
	height: 60px; 
	padding: 0px 19px;
	font-size: 9px;
	background-color: #7B977A;
	color: white;
	border: 1px solid #7B977A;
	margin-top: 20px;
	cursor: pointer;
}
/* 판매자 아이디 */
#sellerId{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 판매자 비밀번호 */
#sellerPw{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 판매자 비밀번호 확인 */
#sellerPw_chk{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 상점구역번호  */
#shopLocCode{
	width:290px;
	height:37px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 사업자등록번호 */
#sellerNo{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 사업자등록번호 중복확인 button */
#sellerNoBtn{
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}
/* 상점 휴대폰 */
#shopMobile{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 상점명 */
#shopName{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 상점명 중복확인 button */
#shopNameBtn{
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	color: white;
	background: #7B977A;
	cursor: pointer;
}
/* 판매자 카카오톡 아이디*/
#shopKakaoId{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 상점 이미지 */
#shopImg{
	width:250px;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
	line-height: 35px;
}
/* 카테고리번호 */
#shopCategoryNo{
	width:290px;
	height:37px; 
	padding: 0px 19px;
	font-size: 9px;
	border: 1px solid #7B977A;
}
/* 판매자 회원가입 submit */
#sellerSubmit{
	width:50%;
	height:35px; 
	padding: 0px 19px;
	font-size: 9px;
	background-color: #7B977A;
	color: white;
	border: 1px solid #7B977A;
	margin-top: 10px;	
	cursor: pointer;
}
/* 회원가입 유효성검사 결과 */
.inputResult {
	font-size:12px;
	color:#666666;
	font-style: normal;
}