@charset "UTF-8";

/*footer*/
#footer-logo{
	margin-top: 65px;
	margin-right: 50px;
}
#footer-wrap{
	margin-top: 60px;
	background-color: #333;
}
#footer{
	display: flex;
}
#footer-wrap section{
	width: 525px;
}
#cc p.cc-tit{
	font-weight: 700;
    font-size: 20px;
}
#cc div.cc-item{
	padding-top:16px;
	display: flex;
}
#cc div.cc-item dl{
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -.2px;
	margin-left:16px;
}
#cc div.cc-item dl dd{
	color: #999;
	margin-inline-start:0px;
}
#cc div.cc-call{
}
#cc div.cc-call p{
	font-weight: 800;
	font-size: 28px;
	letter-spacing: -.5px;
}
#cc div.cc-katalk p,
#cc div.cc-qna p{
	width:140px;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
	font-size: 14px;
	border: 1px solid black;
	border-radius:7px; 
	text-align: center;
	
	
}
#cc div.cc-qna dd{
	letter-spacing: -2px;
}

#company{
	font-size: 12px;
	color: #999;
	line-height: 20px;
	letter-spacing: -.2px;
    margin-left: -180px;
}
#terms{
	margin-bottom: 29px;
}
#terms ul.row-align{
	list-style:none;
	justify-content: space-between;
}
#terms ul.row-align li{
	margin-inline-start:0px;
	display: flex;
	list-style:none;
	font-size: 14px;
}
#terms ul.row-align a.pi{
	font-weight: 700;
}
#company .info a{
	color: #5f0080;
	font-weight:700; 
}
#company .info address{
	font-style: normal;
	font-size: 12px;
}
#company .info .copy{
	padding: 16px 0;
}