@charset "UTF-8";

table, tr, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	margin-top: 10px;
}

.itemTable {
	border-collapse: collapse;
}

.itemTable th, .itemTable td {
	border: 1px solid black;
}
/**상품등록*/
#enroll_total {
	border: 0px solid black;
	width : 1700px;
	height: 400px;
	margin: 100px;
}

#meat_div {
	margin-left: 50px;
}
/**상품리스트*/
#itemListImg{
	width: 250px;
	height: 320px;
}
#itemListImg:hover{
	-webkit-transform: scale(1.005);
	transform: scale(1.005);
	box-shadow: 3px 3px grey;
}
.item_list{
	display: inline-block;
	margin-bottom: 20px;
}
.item_list>a{
	color: black;
}
.item_list>a:hover{
	color: #5a7d59;
	font-weight: 700;
}
#itemLI{
	font-weight: 700;
	font-size: 18px;
}
.item_wrap{
	margin: 0 auto;
	width: 1050px;
}
#itemPr{
	color: grey;
	text-decoration: line-through;
}
#itemDc{
	color: red;
	font-size: 15px;
}
#itemDiscPrice{
	font-weight: 700;
	color: red;
	font-size: 18px;
}
/**item detail*/
#item_detail_wrap{
	width: 1050px;
	margin: 0 auto;
}
.item_img_wrap>img{
	width: 320px;
	height: 390px;
	margin: 0 auto;
    margin-top: 15px;
	margin-right: 15px;
}
.item_detail{
	display: flex;
	margin-top: 30px;
}
#itemName{
	font-size: 20px;
	font-weight: 700;
}
.btn-area{
	width: fit-content;
	float: right;
	display: flex;
	margin-top: 10px;
}
#addCart{
	display: inline-block;
	margin-right: 5px;
}
#itemAsk{
	display: inline-block;
	margin-right: 5px;
}
.it_info{
	line-height: 2;
}
/**no item list*/
#noItemList-wrap{
	width: fit-content;
	margin: 20px auto;
}
#noItemList-title>h3{
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}
#noItemList-info{
	margin-top: 30px;
	font-size: 20px;
}
/**내 등록 상품 수정*/
#mySell-wrap{
	width: 1050px;
	margin: 0 auto;
}
#title{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
input, #itemTakeit{
	line-height: 1.5;
	width: -webkit-fill-available;
	style: border: 1px solid #f7f7f6; 
	font-size: 15px; 
}
input[readonly="readonly"]{
	border: none;
	background-color: #e5e5e5;
}
#itemUpdate-img{
	width: 220px;
	height: 290px;
}
#itemUpdate-notice{
	height: 290px;
}
#itemTakeit{
	text-align: center;
}