@charset "UTF-8";

<!-- 마이페이지 --> 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
h3.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#container{
	height: 700px;

}
.myPage_menu_aside {
	width: 200px;
	height: 500px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}

#mypage_order{
		display: inline-block;
    padding: 0;
    width: 800px;
    height: 500px;
    float: left;
    margin-left: 170px;
}

.order_img{
	width: 149px;
	height: 240px;
	float:left;
}

#itemInfo{
	width:300px;
	height: 200px;
	float:left;
	margin-left: 50px;
	margin-top: auto;
}

#order_Info{
	width:700px;
	height:350px;
	margin-left: 30px;

}

#order_item{
	float:left;
	width:70px;
	margin-left: 100px;
	margin-top: 50px;

}

#item_review_btn{
	margin-bottom: 20px;
}
#shipping_ask_btn{
margin-bottom: 20px;
}
<!-- 내 정보 보기  일반회원 -->

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
h3.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#container{
	height: 700px;
}
.myPage_menu_aside {
	width: 200px;
	height: 500px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}


#myInfo{
	display: inline-block;
    padding: 0;
    width: 800px;
    height: 500px;
    float: left;
    margin-left: 50px;
	text-align: -webkit-center;
	margin-left: 60px;
}

#myInfo_btn{
margin-top: 30px;
margin-left: 30px;	
}
#btn{
margin-right: 20px;}

#mypage_info{
 padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 130px;
}

#myInfo_table{
	width: 500px;
}

#mypage_btn{
		width:30%;
		height:35px; 
		padding: 0px 19px;
		font-size: 9px;
		background-color: #7B977A;
		color: white;
		margin-top: 15px;
		border: 1px solid #7B977A;
		margin-right: 20px;
}

<!-- 내 정보 수정 일반회원-->
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
h3.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#container{
height: 700px;}
.myPage_menu_aside {
	width: 200px;
	height: 500px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}
#myInfoUpdate{
	display: inline-block;
    padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 50px;
	text-align: -webkit-center;
	margin-left: 60px;
}

#myInfoUpdate{
	display: inline-block;
    padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 50px;
	text-align: -webkit-center;
	margin-left: 60px;
}


#myInfo_table{
	width: 500px;
}

#mypage_info{
 padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 130px;
}

<!-- 회원 탈퇴 -->

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
h3.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#container{
	height: 700px;
}
.myPage_menu_aside {
	width: 200px;
	height: 500px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}

#mypage_remove{
 padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 130px;

}
#myInfoRemove{
display: inline-block;
    padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 50px;
	text-align: -webkit-center;
	margin-left: 60px;
	margin-top: 50px;
}

#myInfo_table{
	width: 500px;
}

<!-- 판매자 정보 조회 -->
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
h3.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#container{
height: 700px;}
.myPage_menu_aside {
	width: 200px;
	height: 500px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}

#mypage_btn{
		width:30%;
		height:35px; 
		padding: 0px 19px;
		font-size: 9px;
		background-color: #7B977A;
		color: white;
		margin-top: 15px;
		border: 1px solid #7B977A;
		margin-right: 20px;
}

#sellerInfo{
	display: inline-block;
    padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 50px;
	text-align: -webkit-center;
	margin-left: 130px;
}


#mypage_sellerInfo{
 padding: 0;
    width: 1000px;
    height: 700px;
    float: left;
    margin-left: 130px;
}

#myInfo_table{
	width: 500px;
}

<!-- 판매자 정보 수정 -->
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
h3.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#container{
 height: 700px;
}
.myPage_menu_aside {
	width: 200px;
	height: 500px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}
#sellerInfo{
	display: inline-block;
    padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 50px;
	text-align: -webkit-center;
	margin-left: 130px;
}

#btn{
margin-right: 20px;}

#mypage_sellerInfo{
 	padding: 0;
    width: 1000px;
    height: 700px;
    float: left;
    margin-left: 130px;
	
}
#myInfo_table{
	width: 500px;
}

<!-- 판매자 등록 -->
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
h3.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#container{
	height: 700px;
}
.myPage_menu_aside {
	width: 200px;
	height: 500px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}
#mypage_sellerJoin{
 padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 130px;
}
#seller_Join{
display: inline-block;
    padding: 0;
    width: 800px;
    height: 700px;
    float: left;
    margin-left: 50px;
	text-align: -webkit-center;
	margin-left: 60px;
	margin-top: 50px;

}
#myInfo_table{
	width: 500px;
}
