@charset "UTF-8";

table, tr, th , td{
		border: solid 1px;
}


.review_{
		margin: 0 auto;
		border-collapse: collapse;
		padding: 5px;
		width: 1050px;
		margin-top: 30px;
		margin-bottom: 20px;
}

#notice{
	width: 1050px;
	margin: 0 auto;
}

img[src$="review/.jpg/"] {
	width: 50px;
	height: 50px;
}
textarea{
	width:1000px; 
	height:100px; 
    resize:none;
}