@charset "UTF-8";

table, tr, th , td{
		border: solid 1px grey;
}
.review{
		margin: 0 auto;
		border-collapse: collapse;
		padding: 5px;
		margin-top: 30px;
		margin-bottom: 20px;
		line-height: 2.5;
		text-align: center;
		width: 800px;
}
#reviewLink{
	color: black;
}
#reviewLink:hover{
	color: #5a7d59;
	font-weight: 700;
}
#reviews{
	width: 1050px;
	margin: 0 auto;
}

/**review list*/
#reviewList-wrap{
	width: 800px;
	margin: 0 auto;
}
.title-wrap{
	height: fit-content;
}
/**review detail*/
#review-img{
	width: 250px;
	height: 320px;
	text-align: center;
}
.review-table{
	margin: 0 auto;
	border-collapse: collapse;
	padding: 5px;
	width: 1050px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 18px;
}
#reviewContents{
	resize: none;
	width:715px; 
	height:325px;
	font-size: 18px;
	vertical-align: middle;
}
/**review info*/
#reviewInfo-btn{
	border:  solid 1px #8d959c;
	color: #000;
	background-color: white;
	text-decoration: none;
	padding: 7px 25px 7px 25px;
	float: right;
	margin-bottom: 10px;
}
#reviewInfo-btn:hover{
	background-color: #5a7d59;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
#reviewNo, #itemNo, #reviewViews,
#reviewScore, #memberId, #reviewDate, #reviewUpdate-Title{
	style: border: 1px solid #f7f7f6; 
	font-size: 18px; 
	line-height: 2;
	width: -webkit-fill-available;
}
/**review*/
#reviewInput-title>h3{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}
#reviewInput-wrap{
	width: 1050px;
	margin: 0 auto;
}
#reviewInput-table{
	border-collapse: collapse;
	width: 800px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 18px;
	margin: 0 auto;
}
#reviewInput-btn-area{
	width: fit-content;
	margin: 0 auto;
}
#reviewInput-btn-area>input{
	display: inline-block;
}
.reviewInput{
	width:  -webkit-fill-available;
	line-height: 1.5;
	font-size: 18px;
}
#reviewInput-contents{
	height:  350px;
	resize: none;
}
#img-notice{
	display: block;
	width:  fit-content;
	color: red;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	margin:20px auto;
}